{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AQI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>AQI</h1>
      <p class='time' id="time"> {{ sensor_data.time }} </p>
      <div class='aqi-container' id="containerPm25" style='background:{{ sensor_data.pm25_colour.bg }}'>
          <div class='aqi-label'>AQI (PM2.5)</div>
          <div class='aqi' id="aqiPm25"> {{ sensor_data.aqiPm25 }} </div>
          <div class='pm-label' id="pm25"> (PM2.5: {{ sensor_data.pm25 }} µg/m³) </div>
      </div>
      <div class='aqi-container' id="containerPm10" style='background:{{ sensor_data.pm10_colour.bg }}'>
          <div class='aqi-label'>AQI (PM10)</div>
          <div class='aqi' id="aqiPm10"> {{ sensor_data.aqiPm10 }} </div>
          <div class='pm-label' id="pm10"> (PM10: {{ sensor_data.pm10 }} µg/m³) </div>
      </div>
    </div>
  </body>
</html>

